html, body {
  height:100%;
}

body {
  margin:0;
  display: flex;
  flex-direction: row;
}

div.left {
  background-color: rgb(53, 66, 29);
  width: 10%;
  display: flex;
  flex-direction: column;
}

div.left>h1 {
  text-align: center;
  color:azure;
  font-family:sans-serif;
  font-weight: 700;
  font-size:large;
}

div.left a {
  font-family:sans-serif;
  font-size:medium;
  color: limegreen;
}

div.left a div {
  background-color: darkolivegreen;
  font-family:sans-serif;
  font-size:medium;
  padding: 2mm;
  margin: 4mm;
  border-radius: 2mm;
}

div.middle {
  background-color: darkolivegreen;
  width: 90%;
  flex-direction: column;
  display: flex;
}

div.section {
  background-color: olivedrab;
  /* border: 1mm rgb(90, 120, 41) solid; */
  border-radius: 3mm;
  margin: 1em;
}
div.name {
  font-family:sans-serif;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
div.section>div.name {
  background-color: rgb(131, 169, 55);
}
div.section>div.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* for horizontal aligning of child divs */
  justify-content: left;
  /* for vertical aligning */
  align-items: center;
}

div.panel {
  background-color: darkseagreen;
  /* border: 1mm rgb(31, 42, 14) solid; */
  border-radius: 2mm;
  margin: 2mm;
}
div.panel>div.name {
  background-color: rgb(168, 204, 168);
  font-size: small;
}
div.panel>div.content {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  /* for horizontal aligning of child divs */
  align-content: center;
  padding: 1mm;
}
div.panel>div.content>div.block {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /* for horizontal aligning of child divs */
  align-content: center;
  padding: 1mm;
}

div.setup-control {
  background-color: darkseagreen;
  padding: 1mm;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* for horizontal aligning of child divs */
  justify-content:space-between;
  /* for vertical aligning */
  align-items: center;
}

div.panel label {
  margin: 1mm;
  font-size: small;
  font-family:sans-serif;
  font-weight: 700;
}

tr.header {
  font-weight: 700;
}

td {
  font-size: small;
  font-family:sans-serif;
  padding-left: 2mm;
  padding-right: 2mm;
}

input,select {
  font-size: small;
  font-family:sans-serif;
  border: none;
  background-color: darkolivegreen;
  padding: 1mm;
  color: white;
  margin: 1mm;
}

input.controls {
  width: 45%;
  border-radius: 2mm;
  margin: 2mm;
}
input.controls:hover {
  background-color: olive;
}