[package]
name = "streaming-types"
version.workspace = true
license.workspace = true
edition.workspace = true

[build-dependencies]
flatc-rust = "*"

[dependencies]
chrono.workspace = true
flatbuffers = "23.5.26"
