[workspace]
members = [
  "common",
  "events-to-histogram",
  "simulator",
  "stream-to-file",
  "streaming-types",
  "trace-archiver",
  "trace-to-events",
  "trace-archiver-db",
  "trace-simulator",
  "tdengine",
  "trace-to-dsp-events",
]
