[workspace]
resolver = "2"
members = [
  "common",
  "digitiser-aggregator",
  "events-to-histogram",
  "kafka-daq-report",
  "nexus-writer",
  "run-simulator",
  "simulator",
  "stream-to-file",
  "streaming-types",
  "trace-archiver",
  "trace-archiver-tdengine",
  "trace-reader",
  "trace-to-events",
]

[workspace.package]
version = "0.1.0"
license = "GPL-3.0-only"
edition = "2021"

[workspace.dependencies]
anyhow = "1.0"
assert_approx_eq = "1.1.0"
async-trait = "0.1.80"
chrono = { version = "0.4.38", features = ["serde"] }
clap = { version = "4.5", features = ["derive", "env"] }
crossterm = "0.26.1"
flatbuffers = "22.12.6"
hdf5 = "0.8.1"
itertools = "0.11.0"
kagiyama = "0.3.0"
lazy_static = "1.4.0"
ndarray = "0.15.6"
ndarray-stats = "0.5.1"
num = "0.4.2"
opentelemetry = "0.22.0"
opentelemetry-otlp = { version = "0.15.0", features = ["trace", "tonic", "tls-roots"] }
opentelemetry_sdk = { version = "0.22.1", default-features = false, features = ["trace", "rt-tokio"] }
rand = "0.8.5"
rand_distr = "0.4.3"
ratatui = "0.22.0"
rayon = "1.10.0"
rdkafka = { version = "0.31.0", features = [ "cmake-build", "ssl", "gssapi", "sasl", ] }
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1.0.114" }
supermusr-common = { path = "./common" }
supermusr-streaming-types = { path = "./streaming-types" }
taos = { version = "0.10.27", default_features = false, features = ["ws"] }
tokio = { version = "1.37", features = ["macros", "rt-multi-thread"] }
thiserror = "1.0.58"
tracing = "0.1.40"
tracing-opentelemetry = "0.23.0"
tracing-subscriber = "0.3.18"