@use "root.scss";

div.search-results-summary {
  font-size: 18px;
}
div.search-results-summary>ul {
  margin: 0.0rem;
  font-size: 16px;
}

div.search-results,
div.search-results-by-date,
div.search-results-by-time {
  display: inline-flex;
  flex-direction: column;
  margin: 1mm;
}

div.search-results-date,
div.search-results-time {
  white-space: nowrap;
  margin: 0.2rem;
  padding: 0.2rem;
}

div.search-results-date {
  font-size: 20px;
  font-weight: 700;
  background-color: var(--input-color);
  color: white;
}

div.search-results-time {
  font-size: 16px;
  font-weight: 600;
  background-color: lightgray;
}

/*
  Digitiser Message Summaries
*/

div.digitiser-message {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2rem;
  border: 1px solid transparent;
}

div.digitiser-message.selected {
  border: 1px solid lightskyblue;
}

div.digitiser-message-id {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
}

div.channel-list {
  display: grid;
  grid-auto-flow: column;
}

div.channel {
  cursor: default;
  margin: 1mm;
  padding: 0mm;
  text-align: center;
  font-size: 14px;
  border: 1px var(--input-color) solid;
  border-radius: 1mm;
  width: 2em;
}

div.channel:hover {
  border: 1px var(--input-hover-color) solid;
}

div.channel.selected {
  background-color: lightskyblue;
  font-weight: 700;
  border: 1px var(--input-color) solid;
}

div.channel.selected:hover {
  border: 1px var(--special-color-hover) solid;
}

div.digitiser-message-metadata {
  border: 1px solid lightgray;
  margin-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

div.digitiser-message-metadata-title {
  cursor: default;
  background-color: lightgray;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  padding: 0.1rem;
}

div.digitiser-message-metadata-title:hover {
  background-color: gainsboro;
}

div.digitiser-message-metadata-content {
  font-size: 12px;
  padding: 0.2rem;
}
