---
name: CI

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

jobs:
  formatting-and-quality:
    name: Formatting and Quality
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            flake:
              - '**/*.nix'
              - 'flake.lock'
            rust:
              - '**/*.rs'
              - '**/Cargo.toml'
              - 'Cargo.lock'

      - uses: DeterminateSystems/nix-installer-action@v14
      - uses: DeterminateSystems/magic-nix-cache-action@v8

      # Evaluate the devshell here so that the time reported for subsequent
      # steps that use it reflect what is actually done there.
      - name: Evaluate devshell
        run: nix develop

      - name: Format
        run: nix develop --command treefmt --fail-on-change

      - name: Clippy
        if: steps.filter.outputs.flake == 'true' || steps.filter.outputs.rust == 'true'
        run: nix develop --command cargo clippy --all-targets -- -D warnings

      - name: Repository cleanliness
        if: steps.filter.outputs.flake == 'true' || steps.filter.outputs.rust == 'true'
        run: git diff --exit-code

      - name: Test
        if: steps.filter.outputs.flake == 'true' || steps.filter.outputs.rust == 'true'
        run: nix develop --command cargo test --all-targets

  components:
    name: Components
    needs:
      - formatting-and-quality

    strategy:
      matrix:
        component:
          - diagnostics
          - digitiser-aggregator
          - nexus-writer
          - simulator
          - trace-archiver-hdf5
          - trace-archiver-tdengine
          - trace-reader
          - trace-to-events

    uses: ./.github/workflows/component.yml
    with:
      component: ${{ matrix.component }}
