---
name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Install flatc
        run: |
          git clone https://github.com/google/flatbuffers.git
          pushd flatbuffers
          git checkout v22.9.29
          cmake .
          make -j flatc
          sudo mv flatc /usr/bin
          popd
          flatc --version

      - name: Install libhdf5
        run: |
          sudo apt update
          sudo apt install libhdf5-dev

      - name: Build schema wrapper library
        run: pushd streaming-types && cargo build && popd

      - name: rustfmt
        run: cargo fmt -- --check

      - name: Clippy
        run: cargo clippy --all-targets --no-deps -- -Dwarnings

      - name: Build and Test
        run: cargo test --all
